# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Requirements
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/
